NODE_ENV=development
PORT=8000
POSTGRES_DB=imports_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5532
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://admin:password@localhost:55432/imports_db
