NODE_ENV=development
PORT=8000
POSTGRES_DB=imports_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_PORT=55432
DATABASE_URL=postgres://admin:password@localhost:55432/imports_db
UPLOAD_DIR=./data/uploads
